name: Deploy Hugo
on:
  # Runs on pushes targeting the "release" branch
  push:
    branches:
      - release

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.88.1
    steps:
      - name: Install Hugo CLI
        run: |
          HUGO_VERSION="0.88.1"  # Replace with the desired Hugo version
          wget https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_Linux-64bit.tar.gz -O /tmp/hugo.tar.gz
          tar -xf /tmp/hugo.tar.gz -C /tmp
          sudo mv /tmp/hugo /usr/local/bin/hugo
          hugo version
          
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
          
      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"
        
      - name: Build with Hugo
        working-directory: ./mynewsite
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          hugo         
          
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./mynewsite/public
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.TOKEN }}
          publish_dir: ./mynewsite/public
          publish_branch: release
